**/.git
**/.vs
**/bin
**/obj
**/*.user
**/*.db
**/*.db-shm
**/*.db-wal
.env
.env.*
!.env.example
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.idea/
.vscode/
*.swp
Thumbs.db
.DS_Store
docs/preuves/*.png
docs/preuves/*.jpg
!docs/preuves/.gitkeep
